<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  
  <h3>Rules:</h3>
  <p>Only post stuff that ends in .gif OK?</p>
  <p>Example: http://www.you.com/are/cute.gif</p>
  <p>If that was a real link to a gif, it would then post something.</p>
  <br>
  <p>Sincerely,</p>
  <h5 >-Gif God Help Team</h5>
</p>
