<footer class="footer">
  <small>
    <a href="#">Gif Posting and Sharing</a>
    by En Tee Productions
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">More</a></li>
    </ul>
  </nav>
</footer>